*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
    background-color: #eee;

}

    

.left{
    box-sizing: border-box;
    width: 480px;
    margin-left: 170px;
    display: inline-block;
    
   
}

.rigth{
    box-sizing: border-box;
    display: inline-block;
    width: 456px;
    height: 396px;
    padding-left: 30px;
    margin-top: 80px;
    


}

img{
    height: 106px;
    width: -28px;
    
    
}

h2{
    font-weight: 400;
    padding-left: 30px;
    font-size: 24px;
    line-height: 28px;
}
fieldset{
    background-color: #fff;
    padding: 10px 10px ;
    border: 2px solid #eee;
    border-radius: 20px;
}

form{
    background-color: #fff;
}

input:active{
    border: 1px solid #1956cf;
}
#email{
    background-color: #fff;
    width: 350px;
    height: 41px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}

#senha{
    background-color: #fff;
    width: 350px;
    height: 41px;
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px
    


}

.button-login {
    background-color: #1956cf ;
    width: 350px;
    height: 41px;
    border-radius: 5px;
    padding: 10px;
    margin:  15px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 30px;
    

}

.button-login:hover{
    background-color: #175ae9 

}

.esqueceu{
    color: #1956cf;
    padding-left: 120px;
    background-color: #fff;
    
    
    
}


.button-new{
    background-color: rgb(85, 161, 8);
    color: #fff;
    padding: 20px 30px ;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 105px;
    margin-top: 30px;
    cursor: pointer;
}
.button-new:hover{
    background-color: rgb(63, 121, 5);
}
p {
    margin-top: 15px;

}
.criar{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

footer{
    
    margin-top: 300px;
    padding: 30px;

}

